.my-name {
  font-size: 128px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  color: #2c2c2c;
  text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

.job-title {
  font-weight: 300;
  font-size: 68px;
  padding: 0px;
  margin: 0px;
  color: #2c2c2c;
}

#home {
  padding-left: 50px;
  padding-top: 90px;
}
