header {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100px;
  position: sticky;
  top: 0;
  font-size: 36px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  gap: 1em;
}

nav > a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

nav > a:focus,
nav > a:hover {
  text-decoration: underline;
}

.nav-icon-link {
  width: 60px;
}

.github-logo {
  height: 60px;
}

.linkedin-logo {
  height: 60px;
}

@media (max-width: 520px) {
  nav > a {
    color: red;
  }
}
